body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}

.hero {
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 35px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

a {
  text-decoration: none;
}


.logo {
  font-size: 24px;
  color: #F9FAF8;

}

.hero, footer {
  background-color: #1F2937;
}

.right-hero {
  height: 250px;
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
}

.left-hero {
  padding-right: 400px;
}

a, .sec-text {
  font-size: 18px;
  color: #E5E7EB;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;

}

.balls {
  background-color: white;
  width: auto;
  max-height: 100%;
}

.button1 {
  font-size: 14px;
  font-weight: bold;
  background-color: #3882F6;
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.info {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
}

.images {
  display: flex;
  justify-content: space-around;
}

.image {
  width: 200px;
  height: 200px;
}

.img {
  width: 200px;
  text-align: center;
}

h2 {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  text-align: center;

}

.quote_author {
  background-color: #E5E7Eb;
  padding-top: 35px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 35px;
}

.quote {
  font-size: 36px;
  font-family: light italic;
}

.author {
  font-weight: bold;
  text-align: right;
  padding-right: 100px;
}

.bottom {
  background-color: #3882F6;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

.action-texts {
  color: white;
}

.action {
  font-size: 18px;
  font-weight: bold;
}

.button2 {
  font-size: 14px;
  font-weight: bold;
  background-color: #3882F6;
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color:white;
  

}

footer {
  font-size: small;
  color: white;
  text-align: center;
}